// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../pages/home/home'
@import '../pages/custom-menu/custom-menu'
@import '../pages/pill-list/pill-list'
@import '../pages/pill-details/pill-details'
@import '../pages/user/user'

body
  font-size: 18px
  line-height: 1.5em

ion-page:not(.pill-details-page) [padding] scroll-content
  padding: 0

// Ionic
ion
  // Header
  &-header
    &:after
      content: none
    // Nav
    .toolbar-content
      display: inline-flex
      ion-icon
        font-size: 2em
  // Content
  &-content
    color: color($colors, dark)
    p
      color: inherit
  // List
  &-list[inset]
    button.item
      padding-right: 16px

// Buttons
.button
  font-size: 1.6rem
  padding: 1.25em 2em

// Icons
ion-icon[medium]
  font-size: 2em
[right]
  float: right

// Item
[item-right]
  margin: 9px 0px 9px 8px

// Toolbar
.pill-details-page,
.home-page,
.user-page
  .toolbar-title & 
    +hide-accessible
.toolbar-title
  text-transform: uppercase
  font-weight: normal
  font-size: 1em
  .home-page &,
  .user-page &
    +hide-accessible

// Label
ion-label
  white-space: initial
  &.label
    color: color($colors, primary)
    font-weight: 600
    font-size: 1.4rem
    margin: 8px 16px 8px 16px

// Cards
ion-card
  overflow: auto
  text-align: center
  min-height: calc(100% - 6%)
  position: relative
  &-title h2
    font-size: 4rem
  &-content
    color: $card-md-text-color
    p
      font-size: $card-md-font-size
      text-align: left
ion-note
  border-top: 1px solid color($colors, gray)
  margin: 1em 1em 0
  width: calc(100% - 2em)
  display: block
  padding: 8px 0
  text-align: left
  bottom: 0
  position: absolute
  > *:last-child
    float: right
  &[noborder]
    border: 0
